.filtros {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        gap: .5rem;
    }

.filtros > div {
    display: flex;
    gap: 1rem;
    }