.h1{
    text-align: start;
}

.container1{

}

.container2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    left: 130px;
    top: 80px;
    width: 100vw;
    z-index: 99;
    background: white;
}

